{% extends 'base.html' %} 
{% block title %}Cadastro{% endblock %} 

{% block content%}
<h2><b>Página de Cadastro</b></h2>
<form 
    method="post" 
    action="{% url 'register' %}" 
    data-redirect="{% url 'inicio' %}">
    {% csrf_token %}
    <label for="username">Usuário:</label>
    <input type="text" name="username" placeholder="Nome de Usuário">

    <label for="password">Senha:</label>
    <input type="password" name="password1" placeholder="Senha" required>

    <label for="password2">Confirmar senha:</label>
    <input type="password" name="password2" placeholder="Confirme sua Senha">

    <button type="submit" class="botao">Registrar</button>
</form>
{% endblock %}
